psycopg2-binary
Pillow
gallery-dl 
optimize-images
vk-api 
psaw
python-slugify
praw
pytz 
jikanpy
shikimori-api
pip 
install
opencv-python
matplotlib
numba 
python-dotenv 
yadisk 
fire
ImageHash
h5py
